*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: textscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  font-family: $mosque-font;
  font-size: $body-size;
  color: $mosque-text;
  font-weight: 400;
  line-height: $body-line-height;
}

body.locked {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: $mosque-white3;
}

::-webkit-scrollbar-thumb {
  background-color: $mosque-primary;
  height: 60px;
  border-radius: 30px;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

a {
  color: $mosque-primary;
  transition: all 500ms ease;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $mosque-heading-font;
  color: $mosque-black;

  br {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

p {
  br {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.page-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.section-space {
  padding-top: $section-space;
  padding-bottom: $section-space;

  @include device(sm) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include device(xsm) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.section-space-top {
  padding-top: $section-space;

  @include device(sm) {
    padding-top: 100px;
  }

  @include device(xsm) {
    padding-top: 80px;
  }
}

.section-space-bottom {
  padding-bottom: $section-space;

  @include device(sm) {
    padding-bottom: 100px;
  }

  @include device(xsm) {
    padding-bottom: 80px;
  }
}

.container-fluid,
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1350px;
  }
}

.row {
  --bs-gutter-x: 30px;
}

.gutter-y-20 {
  --bs-gutter-y: 20px;
}

.gutter-y-25 {
  --bs-gutter-y: 25px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

.gutter-y-40 {
  --bs-gutter-y: 40px;
}

.gutter-y-50 {
  --bs-gutter-y: 50px;
}

.gutter-y-60 {
  --bs-gutter-y: 60px;
}

.logo-retina img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* button */
.mosque-btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  cursor: pointer;
  vertical-align: middle;
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 14px 35px 11px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: $mosque-white;
  line-height: 1.375;
  text-transform: capitalize;
  overflow: hidden;
  border-radius: 6px;
  background-color: $mosque-primary;
  backface-visibility: hidden;
  transform: translateZ(0px);
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-property: color;
  -webkit-transition-property: color;
  -moz-transition-property: color;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
    border-radius: inherit;
    background-color: $mosque-secondary;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-property: transform;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

  &:hover::before {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }

  &:hover {
    color: $mosque-black;
  }

  &--secondary {
    color: $mosque-black;
    background-color: $mosque-secondary;

    &::before {
      background-color: $mosque-primary;
    }

    &:hover {
      color: $mosque-white;
    }
  }
}

/* section title */
.section-title {
  margin-bottom: 25px;

  &--center {
    margin-bottom: 42px;
    text-align: center;
  }

  &__top {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
  }

  &__shape {
    max-width: 100%;
    height: auto;
  }

  &__tagline {
    margin: 0px;
    font-family: $mosque-font;
    font-size: 18px;
    color: $mosque-primary;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1.75;
  }

  &__title {
    margin: 0px;
    font-family: $mosque-heading-font;
    font-size: $heading-size-2;
    color: $mosque-black;
    font-weight: 700;
    line-height: 1.375;
    text-transform: capitalize;

    @include device(md) {
      font-size: 45px;
    }

    @include device(xsm) {
      font-size: 40px;
    }

    @media (max-width: 390px) {
      font-size: 35px;
    }
  }
}

/* social links */
.social-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: $mosque-white;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    background-color: $mosque-primary;
    transition: all 500ms ease;
  }

  a:hover {
    color: $mosque-black;
    background-color: $mosque-secondary;

    i {
      color: $mosque-black;
      animation: slideTop 500ms;
    }
  }
}

/* post pagination */
.post-pagination {
  list-style: none;
  padding: 0;
  margin: 69px 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  @include device(xl) {
    margin-top: 30px;
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: transparent;
    font-family: $mosque-font;
    color: $mosque-black;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid RGBA($mosque-black-rgb, 0.1);
    transition: all 400ms ease;

    @media (max-width: 575px) {
      width: 50px;
      height: 50px;
    }

    .post-pagination__icon {
      display: inline-flex;
      font-size: 10px;
      color: $mosque-black;
      transition: all 400ms ease;
    }

    &:hover {
      color: $mosque-black;
      background-color: $mosque-primary;
      border-color: $mosque-primary;

      .post-pagination__icon {
        color: $mosque-black;
        animation: slideLeft 400ms;

        &--right {
          animation: slideRight 400ms;
        }
      }
    }
  }

  li.active a {
    color: $mosque-white;
    background-color: $mosque-primary;
    border-color: $mosque-primary;

    .post-pagination__icon {
      color: $mosque-black;
      animation-play-state: paused;
    }
  }
}

/* owl carousel slider */
.mosque-owl__carousel--with-shadow {
  .owl-stage-outer {
    overflow: visible;
  }

  .owl-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.mosque-owl__carousel--basic-nav.owl-carousel {
  .owl-nav {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    button {
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      font-size: 14px;
      color: $mosque-black;
      border-radius: 50%;
      background-color: $mosque-white2;
      transition: all 500ms ease;

      &:hover {
        color: $mosque-white;
        background-color: $mosque-primary;
      }

      span {
        border: none;
        outline: none;
        color: inherit;
      }
    }
  }

  .owl-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

    .owl-dot {
      outline: 0;
      border: 0;
      position: relative;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: RGBA($mosque-black-rgb, 0.1);
      transition: all 500ms ease;

      span {
        background-color: transparent;
      }

      &:hover,
      &.active {
        background-color: $mosque-primary;

        span {
          background-color: transparent;
        }
      }
    }
  }

  .owl-nav.disabled + .owl-dots {
    margin-top: 60px;
  }

  .owl-dots.disabled,
  .owl-nav.disabled {
    display: none;
  }
}

/* preloader */
.preloader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: $mosque-black;
  width: 100%;
  height: 100vh;
  z-index: 99999999;

  &__circle {
    width: 50px;
    height: 50px;
    background-color: $mosque-primary;
    position: relative;
    border-radius: 50%;
    animation: preloaderCircle 0.75s linear infinite;

    &::after {
      content: "";
      width: 49px;
      height: 49px;
      position: absolute;
      top: 1px;
      right: 0;
      left: 0;
      background-color: $mosque-black;
      border-radius: 50%;
    }

    @keyframes preloaderCircle {
      to {
        transform: rotate(360deg);
      }
    }
  }

  &__text {
    margin: 30px 0 10px;
    font-family: $mosque-font-2;
    font-size: 25px;
    color: $mosque-white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__line {
    width: 150px;
    height: 2px;
    position: relative;
    background-color: $mosque-white;

    &::after {
      content: "";
      width: 0;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $mosque-primary;
      animation: lineColor 3s ease infinite;
    }

    @keyframes lineColor {
      0% {
        width: 0;
      }

      25% {
        width: 25%;
      }

      50% {
        width: 50%;
      }

      75% {
        width: 75%;
      }

      100% {
        width: 100%;
      }
    }
  }
}

.disappear {
  -webkit-animation: vanish 1s forwards;
  animation: vanish 1s forwards;
}

@-webkit-keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* back to top */
.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: block;
  border-radius: 50%;
  background-color: $mosque-primary;
  z-index: 99;
  opacity: 0;
  padding: 6px;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;

  &--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &::after {
    position: absolute;
    content: "\f30c";
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    color: $mosque-white;
    text-align: center;
    font-weight: 900;
    line-height: 50px;
    -moz-osx-font-smoothing: textscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }

  &__circle path {
    stroke: $mosque-white;
    stroke-width: 4;
    fill: none;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
}
