.cta {
  &__wrapper {
    position: relative;
    z-index: 1;
    margin-bottom: -150px;
    padding: 64px 150px 80px;
    overflow: hidden;
    border-radius: 500px;
    background-color: $mosque-primary;

    @media (max-width: 1199px) {
      padding-left: 120px;
      padding-right: 120px;
    }

    @media (max-width: 991px) {
      padding-left: 80px;
      padding-right: 80px;
      border-radius: 150px;
    }

    @media (max-width: 767px) {
      padding: 56px 40px 70px;
      border-radius: 50px;
    }

    @media (max-width: 575px) {
      padding-top: 57px;
    }

    @media (max-width: 412px) {
      padding-left: 30px;
      padding-right: 30px;
      border-radius: 30px;
    }

    @media (max-width: 390px) {
      padding-top: 60px;
    }
  }

  &__bg {
    position: relative;
    @include positionFull;
    @include bg(top center, cover);

    &::after {
      content: "";
      @include positionFull;
      background-color: RGBA($mosque-primary-rgb, 0.9);
    }
  }

  &__content {
    position: relative;
    z-index: 1;
    text-align: center;
  }

  .section-title__title,
  &__text {
    color: $mosque-white;
  }

  .section-title__title {
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__form {
    max-width: 500px;
    margin: 0px auto;

    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;

      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__input {
      width: 100%;
      height: 56px;
      outline: none;
      border: none;
      padding-left: 25px;
      padding-right: 25px;
      font-family: $mosque-font-2;
      font-size: 16px;
      font-weight: 400;
      color: $mosque-text;
      border-radius: 8px;
      background-color: $mosque-white;
      transition: all 500ms ease;

      &::placeholder {
        font-family: $mosque-font;
      }

      &:focus {
        color: $mosque-black;
      }
    }

    .mosque-btn {
      margin-top: 30px;

      &:hover {
        color: $mosque-black;
      }

      &::before {
        background-color: $mosque-white;
      }
    }
  }
}
