.donation-collection {
  &__single + &__single {
    margin-top: 30px;
  }

  &__item {
    display: grid;
    grid-gap: 30px;
    align-items: center;
    grid-template-columns: 211px auto;
    padding: 30px 0px;
    border-top: 1px dashed $mosque-border-color;
    border-bottom: 1px dashed $mosque-border-color;

    @include device(xsm) {
      text-align: center;
      grid-template-columns: auto;
    }
  }

  &__image {
    display: inline-block;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 12px;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.375;
    text-transform: capitalize;

    @media (max-width: 767px) {
      font-size: 27px;
    }

    @media (max-width: 440px) {
      font-size: 25px;
    }
  }

  &__goal {
    margin: 0px;
    font-size: 25px;
    color: $mosque-black;
    font-weight: 600;
    line-height: 1.375;
    text-transform: capitalize;

    @media (max-width: 440px) {
      font-size: 23px;
    }

    &__amount {
      font-family: $mosque-font-2;
      font-size: 22px;
      font-weight: 600;
      color: $mosque-primary;

      @media (max-width: 440px) {
        font-size: 20px;
      }
    }
  }

  &__total {
    &__box {
      position: relative;
      padding: 35px 30px 30px;
      @include bg(top center, cover);

      @media (max-width: 575px) {
        padding-top: 30px;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        padding-top: 30px;
      }

      &::before {
        content: "";
        width: 100%;
        height: 5px;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        background-color: $mosque-secondary;
      }

      &::after {
        content: "";
        @include positionFull;
        border-radius: inherit;
        background-color: RGBA($mosque-black-rgb, 0.6);
      }
    }

    &__inner {
      position: relative;
      z-index: 1;
    }

    &__top {
      display: grid;
      grid-gap: 30px;
      align-items: center;
      grid-template-columns: auto 110px;
      margin-bottom: 20px;

      @media (max-width: 575px) {
        margin-bottom: 40px;
        grid-template-columns: auto;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        margin-bottom: 40px;
        grid-template-columns: auto;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 20px 10px;
      margin-bottom: 15px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.375;
      color: $mosque-white;
      text-transform: capitalize;

      @media (max-width: 390px) {
        flex-direction: column;
        align-items: flex-start;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__amount {
      display: inline-block;
      font-family: $mosque-font-2;
      font-size: 30px;
      font-weight: 600;
      color: $mosque-white;
      line-height: 1;
    }

    &__donor {
      margin: 0px;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.375;
      color: $mosque-white;
      text-transform: capitalize;

      i {
        margin-right: 5px;
        position: relative;
        top: 3px;
        font-size: 18px;
        color: $mosque-secondary;
      }
    }

    .mosque-btn {
      &:hover {
        color: $mosque-black;
      }

      &::before {
        background-color: $mosque-white;
      }
    }
  }

  &__progress {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: $mosque-white;

    &__count {
      width: 110px;
      height: 110px;
      position: relative;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .circle-progress {
        position: absolute;
        top: 0px;
        left: 0px;
        fill: $mosque-secondary;
      }
    }

    &__funfact {
      display: inline-flex;
      margin: 0px;
      font-family: $mosque-font-2;
      font-size: 22px;
      font-weight: 800;
      color: $mosque-black;
      line-height: 1;
      transition: all 500ms ease;
    }
  }
}
