.five-pillars {
  position: relative;
  background-color: $mosque-black2;

  &__bg {
    position: relative;
    @include positionFull;
    @include bg(top center, cover);

    &::after {
      content: "";
      @include positionFull;
      background-color: RGBA($mosque-black-rgb, 0.6);
    }
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .section-title {
    margin-bottom: 20px;
  }

  .section-title__title {
    color: $mosque-white;
  }

  &__description {
    max-width: 1100px;
    margin: 0px auto 40px;
    text-align: center;
  }

  &__text {
    margin: 0px;
    color: RGBA($mosque-white-rgb, 0.7);

    span {
      display: inline-block;
      margin-top: 15px;
      color: $mosque-secondary;
    }

    br {
      display: inline;
    }
  }

  &__text + &__text {
    margin-top: 20px;
  }

  &__carousel {
    &.owl-carousel {
      .owl-dots {
        .owl-dot {
          background-color: RGBA($mosque-white-rgb, 0.7);

          &::after {
            background-color: RGBA($mosque-primary-rgb, 0.3);
          }
        }
      }
    }
  }

  &__item {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;

    &__icon {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      position: relative;

      @media (min-width: 992px) and (max-width: 1199px) {
      }

      i {
        position: relative;
        z-index: 1;
        font-size: 28px;
        color: $mosque-primary;
      }
    }

    &__shape {
      width: 100px;
      height: 100px;
      @include positionCenter;
    }

    &__content {
      position: relative;
      top: 4px;
    }

    &__title {
      margin-bottom: 10px;
      color: $mosque-white;
    }

    &__text {
      margin: 0px;
      color: $mosque-primary;
    }
  }
}
