.five-pillars {
  position: relative;
  background-color: $mosque-black2;

  .section-title {
    margin-bottom: 20px;
  }

  .section-title__title {
    color: $mosque-white;
  }

  &__description {
    margin-bottom: 40px;
  }

  &__text {
    margin: 0px;
    color: $mosque-white;

    span {
      display: inline-block;
      margin-top: 10px;
      color: $mosque-secondary;
    }

    br {
      display: inline;
    }
  }

  &__text + &__text {
    margin-top: 20px;
  }

  &__grid {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    display: flex;
    gap: 16px;
    align-items: center;

    &__icon {
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      position: relative;

      i {
        position: relative;
        z-index: 1;
        font-size: 33px;
        color: $mosque-primary;
      }
    }

    &__shape {
      width: 100px;
      height: 100px;
      @include positionCenter;
    }

    &__title {
      margin-bottom: 10px;
      color: $mosque-white;
    }

    &__text {
      margin: 0px;
      color: $mosque-primary;
    }
  }

  &__video {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: absolute;
    top: 0px;
    left: 0px;
    @include bg(top center, cover);

    &::after {
      content: "";
      @include positionFull;
      background-color: RGBA($mosque-black2-rgb, 0.5);
    }

    &__btn {
      position: relative;
      z-index: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 101px;
      height: 101px;
      font-size: 26px;
      color: $mosque-white;
      border-radius: 50%;
      background-color: $mosque-primary;
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;

      &:hover {
        color: $mosque-white;
        background-color: $mosque-secondary;
      }
    }

    &__ripple::before,
    &__ripple::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      box-shadow: 0 0 0 0 rgba(0, 125, 58, 0.5);
      -webkit-animation: pulse 3s infinite;
      animation: pulse 3s infinite;
    }

    &__ripple::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
    }

    &__ripple::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    @keyframes pulse {
      70% {
        box-shadow: 0 0 0 40px rgba(0, 125, 58, 0);
      }

      100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
      }
    }
  }
}
