.gallery {
  background-color: $mosque-white;

  &__card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    img {
      display: block;
      width: 100%;
      border-radius: inherit;
    }

    &__hover {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;

      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        visibility: hidden;
        right: -100%;
        bottom: -100%;
        border-radius: inherit;
        background-color: RGBA($mosque-black-rgb, 0.6);
        transition: all 500ms ease;
      }

      .img-popup {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: $mosque-primary;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.5);
        border-radius: 50%;
        transition: all 500ms ease;

        &:hover {
          background-color: $mosque-secondary;
        }
      }
    }

    &:hover &__hover {
      visibility: visible;

      &::after {
        right: 0px;
        bottom: 0px;
        visibility: visible;
      }
    }

    &:hover .img-popup {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    &__icon {
      position: relative;
      width: 22px;
      height: 22px;
      display: block;
      transition: all 500ms ease;

      &::after,
      &::before {
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $mosque-white;
        transition: all 500ms ease;
      }

      &::after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    .img-popup:hover &__icon {
      &::after,
      &::before {
        background-color: $mosque-black;
      }
    }
  }
}
