.header {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.topbar {
  position: relative;
  z-index: 999;
  padding: 10px 0px;
  overflow: hidden;
  background-color: $mosque-primary;

  @include device(lg) {
    padding: 15px 0px;
  }

  @include device(sm) {
    display: none;
  }

  .container {
    @include devices(xl) {
      max-width: 1400px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  &__contact {
    position: relative;
    display: flex;
    align-items: center;
    gap: 27px;
    z-index: 1;
    margin: 0px;

    @include device(lg) {
      width: 100%;
      justify-content: center;
    }

    &::before {
      content: "";
      width: 1000px;
      height: calc(100% + 40px);
      position: absolute;
      top: 50%;
      right: -138px;
      z-index: -1;
      transform: translateY(-50%);
      background: linear-gradient(90deg, #006654 0%, #e7b619 100%);
      clip-path: polygon(0 0, 100% 0, 94.5% 100%, 0 100%);

      @include device(lg) {
        width: calc(100% + 500px);
        top: 50%;
        right: auto;
        left: 50%;
        clip-path: none;
        transform: translate(-50%, -50%);
      }
    }

    &__icon {
      display: inline-flex;
      flex-shrink: 0;
      font-size: 18px;
      color: $mosque-white;
    }

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: $mosque-font-2;
      font-size: 16px;
      color: $mosque-white;
      font-weight: 400;
      line-height: 1.25;

      a {
        color: inherit;
        @include borderHover;
      }
    }
  }

  &__info {
    @include device(lg) {
      display: none;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 25px;

    &__title {
      margin: 0px;
      color: $mosque-white;
    }

    &__list {
      display: flex;
      align-items: center;
      margin: 0px;

      li {
        &:not(:last-child)::after {
          content: "|";
          position: relative;
          top: -1px;
          margin-left: 15px;
          margin-right: 15px;
          font-size: 18px;
          color: $mosque-white;
        }
      }

      a {
        flex-shrink: 0;
        position: relative;
        font-size: 18px;
        color: $mosque-white;
        transition: all 500ms ease;

        &:hover {
          color: $mosque-secondary;
        }
      }
    }
  }
}

.main-header {
  .container {
    @include devices(xl) {
      max-width: 1400px;
    }
  }

  &__inner {
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    a {
      display: inline-block;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__nav {
    @include device(lg) {
      display: none;
    }

    &__list {
      margin: 0px;
      display: flex;
      align-items: center;

      li + li {
        margin-left: 40px;

        @media (min-width: 1200px) and (max-width: 1299px) {
          margin-left: 35px;
        }

        @media (min-width: 1300px) and (max-width: 1399px) {
          margin-left: 35px;
        }
      }

      li {
        a {
          display: inline-block;
          font-size: 18px;
          font-weight: 500;
          color: $mosque-white;
          line-height: 1.375;
          text-transform: capitalize;
          transition: all 500ms ease;

          &:hover {
            color: $mosque-primary;
          }
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__nav-btn {
    width: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 1;

    @include devices(xl) {
      display: none;
    }

    span {
      width: 100%;
      height: 2px;
      background-color: $mosque-white;
      transition: all 500ms ease;

      &:nth-child(2) {
        margin-top: 6px;
        margin-bottom: 6px;
      }
    }

    &:hover span {
      background-color: $mosque-primary;
    }
  }

  &__user {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    font-size: 20px;
    color: $mosque-white;
    border-radius: 50%;
    background-color: $mosque-primary;
    transition: all 500ms ease;

    @include device(lg) {
      margin-left: 50px;
    }

    @media (max-width: 440px) {
      margin-left: 40px;
    }

    &:hover {
      color: $mosque-black;
      background-color: $mosque-secondary;
    }

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      top: 50%;
      left: -25px;
      transform: translateY(-50%);
      background-color: rgba($mosque-white-rgb, 0.3);

      @media (max-width: 440px) {
        left: -20px;
      }

      @include devices(xl) {
        display: none;
      }
    }
  }

  .mosque-btn {
    margin-left: 30px;

    @include device(sm) {
      display: none;
    }

    @media (min-width: 1200px) and (max-width: 1299px) {
      margin-left: 25px;
    }
  }
}

.sticky-header--cloned {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  top: 0;
  visibility: hidden;
  transform: translateY(-100%);
  background-color: $mosque-white;
  box-shadow: 0px 3px 18px rgba($mosque-black-rgb, 0.07);
  transition: 0.6s cubic-bezier(0.24, 0.74, 0.58, 1);
  transition: transform 500ms ease, visibility 500ms ease;

  &.active {
    transform: translateY(0%);
    visibility: visible;
  }

  .main-header__nav__list li a {
    color: $mosque-black;

    &:hover {
      color: $mosque-primary;
    }
  }

  .main-header__nav-btn span {
    background-color: $mosque-black;
  }

  .main-header__nav-btn:hover span {
    background-color: $mosque-primary;
  }

  .main-header__user::before {
    background-color: rgba($mosque-black-rgb, 0.2);
  }
}
