:root {
	--mosque-font: "Noto Serif Bengali", serif;
	--mosque-font-2: "Lato", sans-serif; // for english text
	--mosque-heading-font: "Hind Siliguri", sans-serif;
	--mosque-text: #7C7F87;
	--mosque-text-rgb: #{toRGB(#7C7F87)};
	--mosque-primary: #007D3A;
	--mosque-primary-rgb: #{toRGB(#007D3A)};
	--mosque-secondary: #FBC50B;
	--mosque-secondary-rgb: #{toRGB(#FBC50B)};
	--mosque-white: #FFFFFF;
	--mosque-white-rgb: #{toRGB(#FFFFFF)};
	--mosque-white2: #F3F5F4;
	--mosque-white2-rgb: #{toRGB(#F3F5F4)};
	--mosque-white3: #E3EFE6;
	--mosque-white3-rgb: #{toRGB(#E3EFE6)};
	--mosque-black: #08050D;
	--mosque-black-rgb: #{toRGB(#08050D)};
	--mosque-black2: #000000;
	--mosque-black2-rgb: #{toRGB(#000000)};
	--mosque-black3: #0f1115;
	--mosque-black3-rgb: #{toRGB(#0f1115)};
	--mosque-border-color: #DBD8E6;
	--mosque-border-color-rgb: #{toRGB(#DBD8E6)};
	--body-size: 18px;
	--heading-size-1: 72px;
	--heading-size-2: 48px;
	--body-line-height: 1.75;
	--section-space: 120px;
}

$mosque-font:var(--mosque-font);
$mosque-font-2:var(--mosque-font-2);
$mosque-heading-font:var(--mosque-heading-font);
$mosque-text:var(--mosque-text);
$mosque-text-rgb:var(--mosque-text-rgb);
$mosque-primary:var(--mosque-primary);
$mosque-primary-rgb:var(--mosque-primary-rgb);
$mosque-secondary:var(--mosque-secondary);
$mosque-secondary-rgb:var(--mosque-secondary-rgb);
$mosque-white:var(--mosque-white);
$mosque-white-rgb:var(--mosque-white-rgb);
$mosque-white2:var(--mosque-white2);
$mosque-white2-rgb:var(--mosque-white2-rgb);
$mosque-white3:var(--mosque-white3);
$mosque-white3-rgb:var(--mosque-white3-rgb);
$mosque-black:var(--mosque-black);
$mosque-black-rgb:var(--mosque-black-rgb);
$mosque-black2:var(--mosque-black2);
$mosque-black2-rgb:var(--mosque-black2-rgb);
$mosque-black3:var(--mosque-black3);
$mosque-black3-rgb:var(--mosque-black3-rgb);
$mosque-border-color:var(--mosque-border-color);
$mosque-border-color-rgb:var(--mosque-border-color-rgb);
$body-size:var(--body-size);
$heading-size-1:var(--heading-size-1);
$heading-size-2:var(--heading-size-2);
$body-line-height:var(--body-line-height);
$section-space:var(--section-space);