<section class="about-me section-space">
    <div class="container">
        @@include("components/__section-title.html", {
            "extraClassName": "section-title--center",
            "tagline": "About Me",
            "title": "Main information about me.",
        })
        <div class="row gutter-y-60">
            <div class="col-lg-4">
                <div class="about-me__image">
                    <img src="assets/images/about/mosque.jpg" alt="mosque">
                    <div class="about-me__image__shape-large about-me__image__shape-large--1"></div><!-- /.about-me__image__shape-large -->
                    <div class="about-me__image__shape-large about-me__image__shape-large--2"></div><!-- /.about-me__image__shape-large -->
                    <div class="about-me__image__shape-small about-me__image__shape-small--1"></div><!-- /.about-me__image__shape-small -->
                    <div class="about-me__image__shape-small about-me__image__shape-small--2"></div><!-- /.about-me__image__shape-small -->
                </div><!-- /.about-me__image -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-8">
                <div class="about-me__content">
                    <p class="about-me__text">Highly motivated and creative Front-End Web Developer passionate about building user-friendly, pixel-perfect, and responsive websites. I am skilled in developing clean, scalable code and reusable components. With 4+ years of experience as a professional Front End Web Developer, I have acquired the skills and knowledge necessary to make your project a success. I consistently seek opportunities to expand my expertise and deliver solutions that enhance user experience and project efficiency. I am excited to contribute and grow within a forward-thinking team.</p><!-- /.about-me__text -->
                    <div class="about-me__info-wrapper">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="about-me__info list-unstyled">
                                    <li>
                                        <span class="about-me__info__title">Name</span>
                                        <span class="about-me__info__divider">:</span>
                                        <span class="about-me__info__text">Ab. mosque</span>
                                    </li>
                                    <li>
                                        <span class="about-me__info__title">Age</span>
                                        <span class="about-me__info__divider">:</span>
                                        <span class="about-me__info__text">27 Years</span>
                                    </li>
                                    <li>
                                        <span class="about-me__info__title">Residence</span>
                                        <span class="about-me__info__divider">:</span>
                                        <span class="about-me__info__text">Bangladesh</span>
                                    </li>
                                </ul><!-- /.about-me__info list-unstyled -->
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <ul class="about-me__info list-unstyled">
                                    <li>
                                        <span class="about-me__info__title">Phone</span>
                                        <span class="about-me__info__divider">:</span>
                                        <span class="about-me__info__text">+880 1817656480</span>
                                    </li>
                                    <li>
                                        <span class="about-me__info__title">Email</span>
                                        <span class="about-me__info__divider">:</span>
                                        <span class="about-me__info__text">mosque@gmail.com</span>
                                    </li>
                                    <li>
                                        <span class="about-me__info__title">Github</span>
                                        <span class="about-me__info__divider">:</span>
                                        <span class="about-me__info__text">github.com/mosque</span>
                                    </li>
                                </ul><!-- /.about-me__info list-unstyled -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.row -->
                    </div><!-- /.about-me__info-wrapper -->
                    <div class="about-me__social">
                        <h3 class="about-me__social__title">Follow Me:</h3><!-- /.about-me__social__title -->
                        <div class="social-links">
                            @@include("components/__social-links.html")
                        </div><!-- /.social-links -->
                    </div><!-- /.about-me__social -->
                    <div class="about-me__button">
                        <a href="#" class="mosque-btn">My Resume</a><!-- /.mosque-btn -->
                        <a href="#" class="mosque-btn">Contact Me</a><!-- /.mosque-btn -->
                    </div><!-- /.about-me__button -->
                </div><!-- /.about-me__content -->
            </div><!-- /.col-lg-8 -->
        </div><!-- /.row gutter-y-60 -->
    </div><!-- /.container -->
</section><!-- /.about-me section-space -->