<section class="activities section-space">
    <div class="container">
        @@include("components/__section-title.html", {
        "extraClassName": "section-title--center",
        "tagline": "কার্যক্রমসমূহ",
        "title": "আমাদের কার্যক্রমসমূহ",
        })
        <div class="row gutter-y-30">
            <div class="col-xl-4 col-md-6">
                <div class="activities__card">
                    <div class="activities__card__bg" style="background-image: url(assets/images/shapes/activities-card-shape.jpg);"></div>
                    <div class="activities__card__content">
                        <span class="activities__card__icon"><i class="icon-zakat"></i></span>
                        <h3 class="activities__card__title"><a href="#">যাকাতের অর্থে স্বাবলম্বীকরণ প্রকল্প</a></h3>
                        <p class="activities__card__text">জৈনপুর জামে মসজিদ কুরআন ও সুন্নাহর এ বিধান বাস্তবায়নকল্পে 'আর্থসামাজিক উন্নয়ন ও সবার জন্য শিক্ষা' এই শ্লোগান ধারণ করে শিক্ষামূলক বিভিন্ন কার্যকর উদ্যোগ গ্রহণ করেছে।</p>
                        <a href="#" class="mosque-btn">বিস্তারিত দেখুন</a>
                    </div><!-- /.activities__card__content -->
                </div><!-- /.activities__card -->
            </div><!-- /.col-xl-4 -->
            <div class="col-xl-4 col-md-6">
                <div class="activities__card">
                    <div class="activities__card__bg" style="background-image: url(assets/images/shapes/activities-card-shape.jpg);"></div>
                    <div class="activities__card__content">
                        <span class="activities__card__icon"><i class="icon-fasting"></i></span>
                        <h3 class="activities__card__title"><a href="#">ইফতার ও রমাদান ফুড বিতরণ</a></h3>
                        <p class="activities__card__text">সাধারণ মানুষের মধ্যে কুরআন ও সহীহ সুন্নাহ-নির্ভর বিশুদ্ধ ইসলামী শিক্ষা, সচেতনতা ও জীবনমুখী দ্বীনদারি, আদর্শ, নৈতিকতা ও দ্বীনি সচেতনতা বৃদ্ধির লক্ষ্যে আস-সুন্নাহ ফাউন্ডেশন প্রতি মাসে 'মাজলিসুস সুন্নাহ' নামে।</p>
                        <a href="#" class="mosque-btn">বিস্তারিত দেখুন</a>
                    </div><!-- /.activities__card__content -->
                </div><!-- /.activities__card -->
            </div><!-- /.col-xl-4 -->
            <div class="col-xl-4 col-md-6">
                <div class="activities__card">
                    <div class="activities__card__bg" style="background-image: url(assets/images/shapes/activities-card-shape.jpg);"></div>
                    <div class="activities__card__content">
                        <span class="activities__card__icon"><i class="icon-tree"></i></span>
                        <h3 class="activities__card__title"><a href="#">বৃক্ষরোপণ কর্মসূচি</a></h3>
                        <p class="activities__card__text">ঈমান-আকীদা, দোয়া ও ইসলামের বিধি-বিধান সম্পর্কে মুসলিমদের জ্ঞানার্জনের অন্যতম উপায় হিসাবে ফাউন্ডেশনের পক্ষ থেকে পবিত্র কুরআনসহ বিভিন্ন ইসলামিক বই-পুস্তক ও লিফলেট বিনামূল্যে বিতরণ করা।</p>
                        <a href="#" class="mosque-btn">বিস্তারিত দেখুন</a>
                    </div><!-- /.activities__card__content -->
                </div><!-- /.activities__card -->
            </div><!-- /.col-xl-4 -->
        </div><!-- /.row -->
        <div class="activities__button">
            <a href="activities.html" class="mosque-btn">কার্যক্রমসমূহ</a>
        </div><!-- /.activities__button -->
    </div><!-- /.container -->
</section><!-- /.activities -->