<div class="blog-card">
    <div class="blog-card__image">
        <img src="@@image" alt="@@title">
        <a href="blog-details.html" class="blog-card__image__link"></a>
    </div><!-- /.blog-card__image -->
    <div class="blog-card__content">
        <ul class="blog-card__meta list-unstyled">
            <li>২৯ জুলাই, ২০২৫</li>
        </ul><!-- /.blog-card__meta -->
        <h3 class="blog-card__title"><a href="blog-details.html">@@title</a></h3>
        <p class="blog-card__text">@@text</p>
        <a href="blog-details.html" class="mosque-btn">আরও পড়ুন</a>
    </div><!-- /.blog-card__content -->
</div><!-- /.blog-card -->