<div class="blog-card">
    <div class="blog-card__image">
        <img src="@@image" alt="@@title">
        <a href="blog-details.html" class="blog-card__image__link"></a>
    </div><!-- /.blog-card__image -->
    <div class="blog-card__content">
        <ul class="blog-card__meta list-unstyled">
            <li><a href="#">০২ মন্তব্য</a></li>
            <li>২৯ জুলাই, ২০২৫</li>
        </ul><!-- /.blog-card__meta -->
        <h3 class="blog-card__title">
            <a href="blog-details.html">@@title</a>
        </h3><!-- /.blog-card__title -->
        <p class="blog-card__text">@@text</p><!-- /.blog-card__text -->
        <a href="#" class="mosque-btn">আরও পড়ুন</a><!-- /.mosque-btn -->
    </div><!-- /.blog-card__content -->
</div><!-- /.blog-card -->