<section class="blog-post section-space">
    <div class="container">
        @@include("components/__section-title.html", {
        "extraClassName": "section-title--center",
        "tagline": "ব্লগসমূহ",
        "title": "ব্লগ পোস্ট থেকে সর্বশেষ খবর",
        })
        <div class="row gutter-y-30">
            <div class="col-xl-4 col-md-6">
                @@include('components/__blog-card.html', {
				"image": "assets/images/blog/blog-1.jpg",
				"title": "জৈনপুর জামে মসজিদ উদ্যোগে খাদ্য বিতরন প্রতিবেদন ২০১৯",
                "text": "আলহামদু লিল্লাহ, স্বাবলম্বীকরণ প্রকল্প ২০২৩-এর আওতায় দরিদ্র রিকশা-চালকদের মধ্যে রিকশা বিতরণ কার্যক্রম শুরু হয়েছে। প্রথম ধাপে ময়মনসিংহ জেলার ১২টি থানার ৬১",
				})
            </div><!-- /.col-xl-4 -->
            <div class="col-xl-4 col-md-6">
                @@include('components/__blog-card.html', {
				"image": "assets/images/blog/blog-2.jpg",
				"title": "জৈনপুর জামে মসজিদ উদ্যোগে খাদ্য বিতরন প্রতিবেদন ২০১৯",
                "text": "আলহামদু লিল্লাহ, স্বাবলম্বীকরণ প্রকল্প ২০২৩-এর আওতায় দরিদ্র রিকশা-চালকদের মধ্যে রিকশা বিতরণ কার্যক্রম শুরু হয়েছে। প্রথম ধাপে ময়মনসিংহ জেলার ১২টি থানার ৬১",
				})
            </div><!-- /.col-xl-4 -->
            <div class="col-xl-4 col-md-6">
                @@include('components/__blog-card.html', {
				"image": "assets/images/blog/blog-3.jpg",
				"title": "জৈনপুর জামে মসজিদ উদ্যোগে খাদ্য বিতরন প্রতিবেদন ২০১৯",
                "text": "আলহামদু লিল্লাহ, স্বাবলম্বীকরণ প্রকল্প ২০২৩-এর আওতায় দরিদ্র রিকশা-চালকদের মধ্যে রিকশা বিতরণ কার্যক্রম শুরু হয়েছে। প্রথম ধাপে ময়মনসিংহ জেলার ১২টি থানার ৬১",
				})
            </div><!-- /.col-xl-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-post -->