<section class="cta">
    <div class="container">
        <div class="cta__wrapper">
            <div class="cta__bg" style="background-image: url(assets/images/background/cta-bg.png);"></div><!-- /.cta__bg -->
            <div class="cta__content">
                <h2 class="section-title__title">কুরআন শিক্ষা আমাদের সাথে।</h2>
                <p class="cta__text">সহজেই আমাদের সাথে ভর্তি হন, শুরু করতে ফ্রী সাইন আপ করুন।</p>
                <form action="#" class="cta__form">
                    <div class="cta__form__inner">
                        <input type="text" name="" id="" placeholder="আপনার নাম" class="cta__form__input">
                        <input type="email" name="" id="" placeholder="আপনার ইমেইল" class="cta__form__input">
                    </div><!-- /.cta__form__inner -->
                    <button class="mosque-btn" type="submit">শুরু করুন</button>
                </form><!-- /.cta__form -->
            </div><!-- /.cta__content -->
        </div><!-- /.cta__wrapper -->
    </div><!-- /.container -->
</section><!-- /.cta -->