<section class="donation-collection section-space">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="donation-collection__info">
                    <div class="donation-collection__item">
                        <div class="donation-collection__image">
                            <img src="assets/images/donation-collection/donation-collection-1.jpg" alt="donation-collection">
                        </div><!-- /.donation-collection__image -->
                        <div class="donation-collection__content">
                            <h3 class="donation-collection__title">মসজিদ দান নির্বাচন ও সংগ্রহ</h3>
                            <p class="donation-collection__goal">লক্ষ্য: <span class="donation-collection__goal__amount">১০,০০০৳</span></p>
                        </div><!-- /.donation-collection__content -->
                    </div><!-- /.donation-collection__item -->
                    <div class="donation-collection__item">
                        <div class="donation-collection__image">
                            <img src="assets/images/donation-collection/donation-collection-2.jpg" alt="donation-collection">
                        </div><!-- /.donation-collection__image -->
                        <div class="donation-collection__content">
                            <h3 class="donation-collection__title">কবরস্থান দান নির্বাচন ও সংগ্রহ</h3>
                            <p class="donation-collection__goal">লক্ষ্য: <span class="donation-collection__goal__amount">৩০,০০০৳</span></p>
                        </div><!-- /.donation-collection__content -->
                    </div><!-- /.donation-collection__item -->
                    <div class="donation-collection__item">
                        <div class="donation-collection__image">
                            <img src="assets/images/donation-collection/donation-collection-3.jpg" alt="donation-collection">
                        </div><!-- /.donation-collection__image -->
                        <div class="donation-collection__content">
                            <h3 class="donation-collection__title">ঈদগাহ দান নির্বাচন ও সংগ্রহ</h3>
                            <p class="donation-collection__goal">লক্ষ্য: <span class="donation-collection__goal__amount">২০,০০০৳</span></p>
                        </div><!-- /.donation-collection__content -->
                    </div><!-- /.donation-collection__item -->
                </div><!-- /.donation-collection__info -->
            </div><!-- /.col-xl-7 -->
            <div class="col-xl-5">
                <div class="donation-collection__total">
                    <div class="donation-collection__total__box" style="background-image: url(assets/images/shapes/donation-collection-shape.png);">
                        <div class="donation-collection__total__inner">
                            <p class="donation-collection__total__amount">১০,০০০৳</p>
                            <h4 class="donation-collection__total__title">দান সংগ্রহ হয়েছে</h4>
                            <p class="donation-collection__total__donor"><i class="icon-heartbreak-fill"></i> ২২ জন দাতা</p>
                            <div class="donation-collection__progress">
                                <div class="donation-collection__progress__count count-box">
                                    <h3 class="donation-collection__progress__funfact">
                                        <span class="count-text" data-stop="90" data-speed="1500"></span>
                                        <span>%</span>
                                    </h3>
                                    <div class="circle-progress" 
                                        data-options='{
                                            "value": 0.90, 
                                            "size": 110, 
                                            "emptyFill": "rgba(255, 255, 255, 1)",
                                            "reverse": true,
                                            "fill": {
                                                "color": "#FBC50B"
                                            }
                                        }'  
                                        ></div><!-- /.circle-progress -->
                                </div><!-- /.donation-collection__progress__count -->
                            </div><!-- /.donation-collection__progress -->
                            <a href="#" class="mosque-btn mosque-btn--secondary">এখনই দান করুন</a>
                        </div><!-- /.donation-collection__total__inner -->
                    </div><!-- /.donation-collection__total__box -->
                </div><!-- /.donation-collection__total -->
            </div><!-- /.col-xl-5 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.donation-collection -->