<section class="donate section-space">
    <div class="container">
        <div class="donate__top">
            <div class="row gutter-y-40 align-items-end">
                <div class="col-xl-9 col-lg-8">
                    @@include("components/__section-title.html", {
                    "extraClassName": "",
                    "tagline": "অনুদান তহবিলসমূহ",
                    "title": "চলুন একসাথে পরিবর্তন আনি",
                    })
                </div><!-- /.col-xl-9 -->
                <div class="col-xl-3 col-lg-4">
                    <div class="donate__custom-navs"></div>
                </div><!-- /.col-xl-3 -->
            </div><!-- /.row -->
        </div><!-- /.donate__top -->
        <div class="donate__carousel mosque-owl__carousel mosque-owl__carousel--basic-nav owl-carousel owl-theme"
			data-owl-options='{
			"items": 1,
			"margin": 24,
			"loop": true,
			"smartSpeed": 700,
			"nav": true,
			"dots": false,
            "navContainer": ".donate__custom-navs",
			"navText": ["<i class=\"icon-arrow-left\"></i>","<i class=\"icon-arrow-right\"></i>"],
			"autoplay": true,
			"responsive": {
				"0": {
					"items": 1
				},
				"768": {
					"items": 2
				},
				"1200": {
					"items": 3
				}
			}
		}'>
            <div class="item">
                <div class="donate__card">
                    <a href="#" class="donate__card__image">
                        <img src="assets/images/donate/donate-1.jpg" alt="donate">
                    </a><!-- /.donate__card__image -->
                    <div class="donate__card__content">
                        <h3 class="donate__card__title"><a href="#">মসজিদ তহবিল</a></h3><!-- /.donate__card__title -->
                        <p class="donate__card__text">আমাদের নিয়মিত সালাত কক্ষের ছাদ, কিছু ঘরোয়া খাতে বা মসজিদে দান দ্বারা করা হয়েছে। যা এখন অনেক বিস্তৃত এবং মানুষ প্রাত্যহিকভাবে আস-সালাত আদায়ের উদ্দেশ্যে একত্রিত হয়ে থাকে। ভবিষ্যতে যাতে আরো দৃষ্টিনন্দন এবং বিশাল আকারে সম্প্রসারণ সম্ভব হয়, এজন্য পরিকল্পনার অংশ হিসেবে মাসিক অনুদান নির্ধারণ করে দেয়া হয়েছে এবং দাতাদের প্রতি কৃতজ্ঞতা প্রকাশ করে দিলাম</p><!-- /.donate__card__text -->
                        <a href="#" class="mosque-btn">দান করুন</a><!-- /.mosque-btn -->
                    </div><!-- /.donate__card__content -->
                </div><!-- /.donate__card -->
            </div><!-- /.item -->
            <div class="item">
                <div class="donate__card">
                    <a href="#" class="donate__card__image">
                        <img src="assets/images/donate/donate-2.jpg" alt="donate">
                    </a><!-- /.donate__card__image -->
                    <div class="donate__card__content">
                        <h3 class="donate__card__title"><a href="#">কবরস্থান তহবিল</a></h3><!-- /.donate__card__title -->
                        <p class="donate__card__text">আমাদের নিয়মিত সালাত কক্ষের ছাদ, কিছু ঘরোয়া খাতে বা মসজিদে দান দ্বারা করা হয়েছে। যা এখন অনেক বিস্তৃত এবং মানুষ প্রাত্যহিকভাবে আস-সালাত আদায়ের উদ্দেশ্যে একত্রিত হয়ে থাকে। ভবিষ্যতে যাতে আরো দৃষ্টিনন্দন এবং বিশাল আকারে সম্প্রসারণ সম্ভব হয়, এজন্য পরিকল্পনার অংশ হিসেবে মাসিক অনুদান নির্ধারণ করে দেয়া হয়েছে এবং দাতাদের প্রতি কৃতজ্ঞতা প্রকাশ করে দিলাম</p><!-- /.donate__card__text -->
                        <a href="#" class="mosque-btn">দান করুন</a><!-- /.mosque-btn -->
                    </div><!-- /.donate__card__content -->
                </div><!-- /.donate__card -->
            </div><!-- /.item -->
            <div class="item">
                <div class="donate__card">
                    <a href="#" class="donate__card__image">
                        <img src="assets/images/donate/donate-3.jpg" alt="donate">
                    </a><!-- /.donate__card__image -->
                    <div class="donate__card__content">
                        <h3 class="donate__card__title"><a href="#">যাকাত তহবিল</a></h3><!-- /.donate__card__title -->
                        <p class="donate__card__text">আমাদের নিয়মিত সালাত কক্ষের ছাদ, কিছু ঘরোয়া খাতে বা মসজিদে দান দ্বারা করা হয়েছে। যা এখন অনেক বিস্তৃত এবং মানুষ প্রাত্যহিকভাবে আস-সালাত আদায়ের উদ্দেশ্যে একত্রিত হয়ে থাকে। ভবিষ্যতে যাতে আরো দৃষ্টিনন্দন এবং বিশাল আকারে সম্প্রসারণ সম্ভব হয়, এজন্য পরিকল্পনার অংশ হিসেবে মাসিক অনুদান নির্ধারণ করে দেয়া হয়েছে এবং দাতাদের প্রতি কৃতজ্ঞতা প্রকাশ করে দিলাম</p><!-- /.donate__card__text -->
                        <a href="#" class="mosque-btn">দান করুন</a><!-- /.mosque-btn -->
                    </div><!-- /.donate__card__content -->
                </div><!-- /.donate__card -->
            </div><!-- /.item -->
            <div class="item">
                <div class="donate__card">
                    <a href="#" class="donate__card__image">
                        <img src="assets/images/donate/donate-1.jpg" alt="donate">
                    </a><!-- /.donate__card__image -->
                    <div class="donate__card__content">
                        <h3 class="donate__card__title"><a href="#">সবার জন্য কুরবানী তহবিল</a></h3><!-- /.donate__card__title -->
                        <p class="donate__card__text">আমাদের নিয়মিত সালাত কক্ষের ছাদ, কিছু ঘরোয়া খাতে বা মসজিদে দান দ্বারা করা হয়েছে। যা এখন অনেক বিস্তৃত এবং মানুষ প্রাত্যহিকভাবে আস-সালাত আদায়ের উদ্দেশ্যে একত্রিত হয়ে থাকে। ভবিষ্যতে যাতে আরো দৃষ্টিনন্দন এবং বিশাল আকারে সম্প্রসারণ সম্ভব হয়, এজন্য পরিকল্পনার অংশ হিসেবে মাসিক অনুদান নির্ধারণ করে দেয়া হয়েছে এবং দাতাদের প্রতি কৃতজ্ঞতা প্রকাশ করে দিলাম</p><!-- /.donate__card__text -->
                        <a href="#" class="mosque-btn">দান করুন</a><!-- /.mosque-btn -->
                    </div><!-- /.donate__card__content -->
                </div><!-- /.donate__card -->
            </div><!-- /.item -->
            <div class="item">
                <div class="donate__card">
                    <a href="#" class="donate__card__image">
                        <img src="assets/images/donate/donate-2.jpg" alt="donate">
                    </a><!-- /.donate__card__image -->
                    <div class="donate__card__content">
                        <h3 class="donate__card__title"><a href="#">সাদকাহ জারিয়াহ তহবিল</a></h3><!-- /.donate__card__title -->
                        <p class="donate__card__text">আমাদের নিয়মিত সালাত কক্ষের ছাদ, কিছু ঘরোয়া খাতে বা মসজিদে দান দ্বারা করা হয়েছে। যা এখন অনেক বিস্তৃত এবং মানুষ প্রাত্যহিকভাবে আস-সালাত আদায়ের উদ্দেশ্যে একত্রিত হয়ে থাকে। ভবিষ্যতে যাতে আরো দৃষ্টিনন্দন এবং বিশাল আকারে সম্প্রসারণ সম্ভব হয়, এজন্য পরিকল্পনার অংশ হিসেবে মাসিক অনুদান নির্ধারণ করে দেয়া হয়েছে এবং দাতাদের প্রতি কৃতজ্ঞতা প্রকাশ করে দিলাম</p><!-- /.donate__card__text -->
                        <a href="#" class="mosque-btn">দান করুন</a><!-- /.mosque-btn -->
                    </div><!-- /.donate__card__content -->
                </div><!-- /.donate__card -->
            </div><!-- /.item -->
            <div class="item">
                <div class="donate__card">
                    <a href="#" class="donate__card__image">
                        <img src="assets/images/donate/donate-3.jpg" alt="donate">
                    </a><!-- /.donate__card__image -->
                    <div class="donate__card__content">
                        <h3 class="donate__card__title"><a href="#">ঈদগাহ তহবিল</a></h3><!-- /.donate__card__title -->
                        <p class="donate__card__text">আমাদের নিয়মিত সালাত কক্ষের ছাদ, কিছু ঘরোয়া খাতে বা মসজিদে দান দ্বারা করা হয়েছে। যা এখন অনেক বিস্তৃত এবং মানুষ প্রাত্যহিকভাবে আস-সালাত আদায়ের উদ্দেশ্যে একত্রিত হয়ে থাকে। ভবিষ্যতে যাতে আরো দৃষ্টিনন্দন এবং বিশাল আকারে সম্প্রসারণ সম্ভব হয়, এজন্য পরিকল্পনার অংশ হিসেবে মাসিক অনুদান নির্ধারণ করে দেয়া হয়েছে এবং দাতাদের প্রতি কৃতজ্ঞতা প্রকাশ করে দিলাম</p><!-- /.donate__card__text -->
                        <a href="#" class="mosque-btn">দান করুন</a><!-- /.mosque-btn -->
                    </div><!-- /.donate__card__content -->
                </div><!-- /.donate__card -->
            </div><!-- /.item -->
        </div><!-- /.donate__carousel -->
    </div><!-- /.container -->
</section><!-- /.donate -->