<section class="donation-collection section-space">
    <div class="container">
        <div class="donation-collection__single">
            <div class="row gutter-y-30 align-items-center">
                <div class="col-lg-7">
                    <div class="donation-collection__item">
                        <div class="donation-collection__image">
                            <img src="assets/images/donation-collection/donation-collection-1.jpg" alt="donation-collection">
                        </div><!-- /.donation-collection__image -->
                        <div class="donation-collection__content">
                            <h3 class="donation-collection__title">মসজিদ দান নির্বাচন ও সংগ্রহ</h3>
                            <p class="donation-collection__goal">লক্ষ্য: <span class="donation-collection__goal__amount">১০০০০৳</span></p>
                        </div><!-- /.donation-collection__content -->
                    </div><!-- /.donation-collection__item -->
                </div><!-- /.col-lg-7 -->
                <div class="col-lg-5">
                    <div class="donation-collection__total">
                        <div class="donation-collection__total__box" style="background-image: url(assets/images/shapes/donation-collection-shape.jpg);">
                            <div class="donation-collection__total__inner">
                                <div class="donation-collection__total__top">
                                    <div>
                                        <h4 class="donation-collection__total__title">
                                            <span class="donation-collection__total__amount">৭০০০৳</span> মসজিদের সংগ্রহ হয়েছে</h4>
                                        <p class="donation-collection__total__donor"><i class="icon-heartbreak-fill"></i> ২২ জন দাতা</p>
                                    </div>
                                    <div class="donation-collection__progress">
                                        <div class="donation-collection__progress__count count-box">
                                            <h3 class="donation-collection__progress__funfact">
                                                <span class="count-text" data-stop="70" data-speed="1500"></span>
                                                <span>%</span>
                                            </h3>
                                            <div class="circle-progress" 
                                                data-options='{
                                                    "value": 0.70, 
                                                    "size": 110, 
                                                    "emptyFill": "rgba(255, 255, 255, 1)",
                                                    "reverse": true,
                                                    "fill": {
                                                        "color": "#FBC50B"
                                                    }
                                                }'  
                                                ></div><!-- /.circle-progress -->
                                        </div><!-- /.donation-collection__progress__count -->
                                    </div><!-- /.donation-collection__progress -->
                                </div><!-- /.donation-collection__total__top -->
                                <a href="#" class="mosque-btn mosque-btn--secondary">এখনই দান করুন</a>
                            </div><!-- /.donation-collection__total__inner -->
                        </div><!-- /.donation-collection__total__box -->
                    </div><!-- /.donation-collection__total -->
                </div><!-- /.col-lg-5 -->
            </div><!-- /.row -->
        </div><!-- /.donation-collection__single -->
        <div class="donation-collection__single">
            <div class="row gutter-y-30 align-items-center">
                <div class="col-lg-7">
                    <div class="donation-collection__item">
                        <div class="donation-collection__image">
                            <img src="assets/images/donation-collection/donation-collection-2.jpg" alt="donation-collection">
                        </div><!-- /.donation-collection__image -->
                        <div class="donation-collection__content">
                            <h3 class="donation-collection__title">কবরস্থান দান নির্বাচন ও সংগ্রহ</h3>
                            <p class="donation-collection__goal">লক্ষ্য: <span class="donation-collection__goal__amount">৩০০০০৳</span></p>
                        </div><!-- /.donation-collection__content -->
                    </div><!-- /.donation-collection__item -->
                </div><!-- /.col-lg-7 -->
                <div class="col-lg-5">
                    <div class="donation-collection__total">
                        <div class="donation-collection__total__box" style="background-image: url(assets/images/shapes/donation-collection-shape.jpg);">
                            <div class="donation-collection__total__inner">
                                <div class="donation-collection__total__top">
                                    <div>
                                        <h4 class="donation-collection__total__title">
                                            <span class="donation-collection__total__amount">২৯০০০৳</span> কবরস্থানের সংগ্রহ হয়েছে</h4>
                                        <p class="donation-collection__total__donor"><i class="icon-heartbreak-fill"></i> ২৯ জন দাতা</p>
                                    </div>
                                    <div class="donation-collection__progress">
                                        <div class="donation-collection__progress__count count-box">
                                            <h3 class="donation-collection__progress__funfact">
                                                <span class="count-text" data-stop="95" data-speed="1500"></span>
                                                <span>%</span>
                                            </h3>
                                            <div class="circle-progress" 
                                                data-options='{
                                                    "value": 0.95, 
                                                    "size": 110, 
                                                    "emptyFill": "rgba(255, 255, 255, 1)",
                                                    "reverse": true,
                                                    "fill": {
                                                        "color": "#FBC50B"
                                                    }
                                                }'  
                                                ></div><!-- /.circle-progress -->
                                        </div><!-- /.donation-collection__progress__count -->
                                    </div><!-- /.donation-collection__progress -->
                                </div><!-- /.donation-collection__total__top -->
                                <a href="#" class="mosque-btn mosque-btn--secondary">এখনই দান করুন</a>
                            </div><!-- /.donation-collection__total__inner -->
                        </div><!-- /.donation-collection__total__box -->
                    </div><!-- /.donation-collection__total -->
                </div><!-- /.col-lg-5 -->
            </div><!-- /.row -->
        </div><!-- /.donation-collection__single -->
        <div class="donation-collection__single">
            <div class="row gutter-y-30 align-items-center">
                <div class="col-lg-7">
                    <div class="donation-collection__item">
                        <div class="donation-collection__image">
                            <img src="assets/images/donation-collection/donation-collection-3.jpg" alt="donation-collection">
                        </div><!-- /.donation-collection__image -->
                        <div class="donation-collection__content">
                            <h3 class="donation-collection__title">ঈদগাহ দান নির্বাচন ও সংগ্রহ</h3>
                            <p class="donation-collection__goal">লক্ষ্য: <span class="donation-collection__goal__amount">২০০০০৳</span></p>
                        </div><!-- /.donation-collection__content -->
                    </div><!-- /.donation-collection__item -->
                </div><!-- /.col-lg-7 -->
                <div class="col-lg-5">
                    <div class="donation-collection__total">
                        <div class="donation-collection__total__box" style="background-image: url(assets/images/shapes/donation-collection-shape.jpg);">
                            <div class="donation-collection__total__inner">
                                <div class="donation-collection__total__top">
                                    <div>
                                        <h4 class="donation-collection__total__title">
                                            <span class="donation-collection__total__amount">১৫০০০৳</span> ঈদগার সংগ্রহ হয়েছে</h4>
                                        <p class="donation-collection__total__donor"><i class="icon-heartbreak-fill"></i> ২০ জন দাতা</p>
                                    </div>
                                    <div class="donation-collection__progress">
                                        <div class="donation-collection__progress__count count-box">
                                            <h3 class="donation-collection__progress__funfact">
                                                <span class="count-text" data-stop="80" data-speed="1500"></span>
                                                <span>%</span>
                                            </h3>
                                            <div class="circle-progress" 
                                                data-options='{
                                                    "value": 0.80, 
                                                    "size": 110, 
                                                    "emptyFill": "rgba(255, 255, 255, 1)",
                                                    "reverse": true,
                                                    "fill": {
                                                        "color": "#FBC50B"
                                                    }
                                                }'  
                                                ></div><!-- /.circle-progress -->
                                        </div><!-- /.donation-collection__progress__count -->
                                    </div><!-- /.donation-collection__progress -->
                                </div><!-- /.donation-collection__total__top -->
                                <a href="#" class="mosque-btn mosque-btn--secondary">এখনই দান করুন</a>
                            </div><!-- /.donation-collection__total__inner -->
                        </div><!-- /.donation-collection__total__box -->
                    </div><!-- /.donation-collection__total -->
                </div><!-- /.col-lg-5 -->
            </div><!-- /.row -->
        </div><!-- /.donation-collection__single -->
    </div><!-- /.container -->
</section><!-- /.donation-collection -->