<section class="gallery-page section-space">
	<div class="container">
		<h1 class="mb-5 text-center">Gallery Filter</h1>
		<div class="gallery-page__filter">
			<ul class="list-unstyled post-filter gallery-page__filter__list">
				<li class="mosque-btn active" data-filter=".filter-item">All</li>
				<li class="mosque-btn" data-filter=".treatment">
					<span class="mosque-btn__text">Treatment</span>
					<span class="mosque-btn__hover mosque-btn__hover--1"></span>
					<span class="mosque-btn__hover mosque-btn__hover--2"></span>
					<span class="mosque-btn__hover mosque-btn__hover--3"></span>
					<span class="mosque-btn__hover mosque-btn__hover--4"></span>
					<span class="mosque-btn__hover mosque-btn__hover--5"></span>
				</li>
				<li class="mosque-btn" data-filter=".education">
					<span class="mosque-btn__text">Education</span>
					<span class="mosque-btn__hover mosque-btn__hover--1"></span>
					<span class="mosque-btn__hover mosque-btn__hover--2"></span>
					<span class="mosque-btn__hover mosque-btn__hover--3"></span>
					<span class="mosque-btn__hover mosque-btn__hover--4"></span>
					<span class="mosque-btn__hover mosque-btn__hover--5"></span>
				</li>
				<li class="mosque-btn" data-filter=".charity">
					<span class="mosque-btn__text">Charity</span>
					<span class="mosque-btn__hover mosque-btn__hover--1"></span>
					<span class="mosque-btn__hover mosque-btn__hover--2"></span>
					<span class="mosque-btn__hover mosque-btn__hover--3"></span>
					<span class="mosque-btn__hover mosque-btn__hover--4"></span>
					<span class="mosque-btn__hover mosque-btn__hover--5"></span>
				</li>
				<li class="mosque-btn" data-filter=".help">
					<span class="mosque-btn__text">Help</span>
					<span class="mosque-btn__hover mosque-btn__hover--1"></span>
					<span class="mosque-btn__hover mosque-btn__hover--2"></span>
					<span class="mosque-btn__hover mosque-btn__hover--3"></span>
					<span class="mosque-btn__hover mosque-btn__hover--4"></span>
					<span class="mosque-btn__hover mosque-btn__hover--5"></span>
				</li>
				<li class="mosque-btn" data-filter=".food">
					<span class="mosque-btn__text">Food</span>
					<span class="mosque-btn__hover mosque-btn__hover--1"></span>
					<span class="mosque-btn__hover mosque-btn__hover--2"></span>
					<span class="mosque-btn__hover mosque-btn__hover--3"></span>
					<span class="mosque-btn__hover mosque-btn__hover--4"></span>
					<span class="mosque-btn__hover mosque-btn__hover--5"></span>
				</li>
			</ul><!-- /.list-unstyledf -->
		</div><!-- /.gallery-page__filter -->
		<div class="row gutter-y-30 fitRow-layout filter-layout">
			<div class="col-xl-4 col-md-6 filter-item treatment help food">
				<div class="gallery-page__card">
					<img src="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
						alt="gallery">
					<div class="gallery-page__card__hover">
						<a href="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
							class="image-popup">
							<span class="gallery-page__card__icon"></span>
						</a>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--1"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--2"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--3"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--4"></span>
					</div><!-- /.gallery-page__card__hover -->
				</div><!-- /.gallery-page__card -->
			</div><!-- /.col-xl-4 col-md-6 -->
			<div class="col-xl-8 col-md-6 filter-item education charity">
				<div class="gallery-page__card">
					<img src="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
						alt="gallery">
					<div class="gallery-page__card__hover">
						<a href="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
							class="image-popup">
							<span class="gallery-page__card__icon"></span>
						</a>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--1"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--2"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--3"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--4"></span>
					</div><!-- /.gallery-page__card__hover -->
				</div><!-- /.gallery-page__card -->
			</div><!-- /.col-xl-8 col-md-6 -->
			<div class="col-xl-4 col-md-6 filter-item food">
				<div class="gallery-page__card">
					<img src="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
						alt="gallery">
					<div class="gallery-page__card__hover">
						<a href="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
							class="image-popup">
							<span class="gallery-page__card__icon"></span>
						</a>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--1"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--2"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--3"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--4"></span>
					</div><!-- /.gallery-page__card__hover -->
				</div><!-- /.gallery-page__card -->
			</div><!-- /.col-xl-4 col-md-6 -->
			<div class="col-xl-4 col-md-6 filter-item education">
				<div class="gallery-page__card">
					<img src="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
						alt="gallery">
					<div class="gallery-page__card__hover">
						<a href="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
							class="image-popup">
							<span class="gallery-page__card__icon"></span>
						</a>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--1"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--2"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--3"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--4"></span>
					</div><!-- /.gallery-page__card__hover -->
				</div><!-- /.gallery-page__card -->
			</div><!-- /.col-xl-4 col-md-6 -->
			<div class="col-xl-4 col-md-6 filter-item education charity help food">
				<div class="gallery-page__card">
					<img src="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
						alt="gallery">
					<div class="gallery-page__card__hover">
						<a href="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
							class="image-popup">
							<span class="gallery-page__card__icon"></span>
						</a>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--1"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--2"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--3"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--4"></span>
					</div><!-- /.gallery-page__card__hover -->
				</div><!-- /.gallery-page__card -->
			</div><!-- /.col-xl-4 col-md-6 -->
			<div class="col-xl-8 col-md-6 filter-item help">
				<div class="gallery-page__card">
					<img src="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
						alt="gallery">
					<div class="gallery-page__card__hover">
						<a href="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
							class="image-popup">
							<span class="gallery-page__card__icon"></span>
						</a>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--1"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--2"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--3"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--4"></span>
					</div><!-- /.gallery-page__card__hover -->
				</div><!-- /.gallery-page__card -->
			</div><!-- /.col-xl-8 col-md-6 -->
			<div class="col-xl-4 col-md-6 filter-item treatment charity">
				<div class="gallery-page__card">
					<img src="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
						alt="gallery">
					<div class="gallery-page__card__hover">
						<a href="https://html.hixstudio.net/tryesy-prev/tryesy/assets/img/inner-portfolio/portfolio-1.jpg"
							class="image-popup">
							<span class="gallery-page__card__icon"></span>
						</a>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--1"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--2"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--3"></span>
						<span class="gallery-page__card__hover__box gallery-page__card__hover__box--4"></span>
					</div><!-- /.gallery-page__card__hover -->
				</div><!-- /.gallery-page__card -->
			</div><!-- /.col-xl-4 col-md-6 -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section><!-- /.gallery-page section-space -->