<section class="hero-slider">
    <div class="hero-slider__carousel mosque-owl__carousel mosque-owl__carousel--basic-nav owl-carousel owl-theme"
        data-owl-options='{
        "items": 1,
        "margin": 0,
        "animateIn": "fadeIn",
        "animateOut": "fadeOut",
        "loop": true,
        "smartSpeed": 700,
        "nav": true,
        "dots": false,
        "autoplay": true,
        "navText": ["<i class=\"icon-arrow-left-up\"></i>","<i class=\"icon-arrow-right-down\"></i>"]
    }'>
        <div class="hero-slider__item">
            <div class="hero-slider__bg" style="background-image: url(assets/images/background/hero-slider-bg-1.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 mx-xl-auto">
                        <div class="hero-slider__content">
                            <h2 class="hero-slider__title"><span class="hero-slider__title__inner">যে ব্যক্তি কারো দুনিয়ার কোনো বিপদ দূর করবে, মহান আল্লাহ তাকে কিয়ামতের দিনের বিপদ থেকে রক্ষা করবেন।</span></h2>
                            <div class="hero-slider__description">
                                <p class="hero-slider__text">(সুনান তিরমিযী, হাদীস ২৯৪৫)</p>
                            </div><!-- /.hero-slider__description -->
                            <div class="hero-slider__button">
                                <div class="hero-slider__button__inner">
                                    <a href="donate.html" class="mosque-btn">দান করুন</a>
                                </div>
                                <div class="hero-slider__button__inner">
                                    <a href="activities.html" class="mosque-btn">আমাদের কার্যক্রম</a>
                                </div>
                            </div><!-- /.hero-slider__button -->
                        </div><!-- /.hero-slider__content -->
                    </div><!-- /.col-xl-8 ms-xxl-auto -->
                </div><!-- /.row gutter-y-40 -->
            </div><!-- /.container -->
        </div><!-- /.hero-slider__item -->
        <div class="hero-slider__item">
            <div class="hero-slider__bg" style="background-image: url(assets/images/background/hero-slider-bg-2.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 mx-xl-auto">
                        <div class="hero-slider__content">
                            <h2 class="hero-slider__title"><span class="hero-slider__title__inner">আল্লাহর কাছে সর্বাধিক প্রিয় আমল হলো, যা সদাসর্বদা নিয়মিত করা হয়, যদিও তা অল্প হয়।</span></h2>
                            <div class="hero-slider__description">
                                <p class="hero-slider__text">(সহীহ বুখারী, হাদীস ৬৪৬৪)</p>
                            </div><!-- /.hero-slider__description -->
                            <div class="hero-slider__button">
                                <div class="hero-slider__button__inner">
                                    <a href="donate.html" class="mosque-btn">দান করুন</a>
                                </div>
                                <div class="hero-slider__button__inner">
                                    <a href="activities.html" class="mosque-btn">আমাদের কার্যক্রম</a>
                                </div>
                            </div><!-- /.hero-slider__button -->
                        </div><!-- /.hero-slider__content -->
                    </div><!-- /.col-xl-8 ms-xxl-auto -->
                </div><!-- /.row gutter-y-40 -->
            </div><!-- /.container -->
        </div><!-- /.hero-slider__item -->
        <div class="hero-slider__item">
            <div class="hero-slider__bg" style="background-image: url(assets/images/background/hero-slider-bg-3.jpg);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 mx-xl-auto">
                        <div class="hero-slider__content">
                            <h2 class="hero-slider__title"><span class="hero-slider__title__inner">অবশ্যই আল্লাহ পছন্দ করেন যে, তোমাদের কেউ কোনো কাজ করলে সে যেন তা নৈপুণ্যের সাথে করে।</span></h2>
                            <div class="hero-slider__description">
                                <p class="hero-slider__text">(মুসনাদ আবি ইয়ালা, হাদীস ৪৩৮৬)</p>
                            </div><!-- /.hero-slider__description -->
                            <div class="hero-slider__button">
                                <div class="hero-slider__button__inner">
                                    <a href="donate.html" class="mosque-btn">দান করুন</a>
                                </div>
                                <div class="hero-slider__button__inner">
                                    <a href="activities.html" class="mosque-btn">আমাদের কার্যক্রম</a>
                                </div>
                            </div><!-- /.hero-slider__button -->
                        </div><!-- /.hero-slider__content -->
                    </div><!-- /.col-xl-8 ms-xxl-auto -->
                </div><!-- /.row gutter-y-40 -->
            </div><!-- /.container -->
        </div><!-- /.hero-slider__item -->
    </div><!-- /.hero-slider__carousel -->
</section><!-- /.hero-slider -->