<section class="hero-one">
    <div class="container">
        <div class="row gutter-y-60 align-items-center">
            <div class="col-lg-6">
                <div class="hero-one__content">
                    <h4 class="hero-one__tagline"><img src="assets/images/shapes/hello.svg" alt="hello"> hello! I'm</h4><!-- /.hero-one__tagline -->
                    <h1 class="hero-one__name">আল্লাহ তাদের সাহায্য করেন যারা নিজেদের সাহায্য করে।</h1><!-- /.hero-one__name -->
                    <h3 class="hero-one__position">A Passionate Freelancer</h3><!-- /.hero-one__position -->
                    <p class="hero-one__text">জৈনপুর জামে মসজিদ হলো আমাদের এলাকায় অন্যতম ঐতিহাসিক ও গুরুত্বপূর্ণ ধর্মীয় স্থান। এটি আমাদের সমাজের কেন্দ্রবিন্দু হিসেবে মুসলিম সম্প্রদায়ের আধ্যাত্মিক ও সামাজিক জীবনের অংশ হয়েছে। মসজিদটি শুধু নামাজ আদায়ের স্থান নয়, বরং এটি শিক্ষা, সেবা ও শান্তির কেন্দ্র হিসেবেও প্রতিষ্ঠিত। আমাদের মসজিদটি নিয়মিতভাবে ধর্মীয় ক্লাসের আয়োজন করে এবং বিভিন্ন ধর্মীয় অনুষ্ঠানেরও আয়োজন করা হয়, যা সমাজের সকল বয়সের মানুষের জন্য একটি বিশেষ দিক। মসজিদ পরিচালনা কমিটি একটি সৎ, মুনাফাহীন একটি প্রতিষ্ঠান, যার একমাত্র লক্ষ্য আল্লাহর রাযা। একে অপরের প্রতি সহানুভূতি বৃদ্ধি করার মাধ্যম। জয়নপুর জামে মসজিদ সমাজের কল্যাণ ও উন্নয়নে গুরুত্বপূর্ণ ভূমিকা পালন করে যাচ্ছে। আল্লাহ্‌ সকলের জন্য মঙ্গল করুন, এবং আমাদের দোয়ায় সব সময় সকলকে রাখুন জয়নপুর।</p><!-- /.hero-one__text -->
                    <a href="#contact" class="mosque-btn"><span>Hire Me</span></a><!-- /.mosque-btn -->
                </div><!-- /.hero-one__content -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="hero-one__image">
                    <img src="assets/images/hero/mosque.png" alt="mosque">
                </div><!-- /.hero-one__image -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row gutter-y-60 -->
    </div><!-- /.container -->
</section><!-- /.hero-one -->