<footer class="main-footer">
	<div class="main-footer__top">
		<div class="main-footer__bg" style="background-image: url(assets/images/shapes/footer-bg.png);"></div>
		<div class="container">
			<div class="row gutter-y-40">
				<div class="col-xl-4 col-lg-6 col-md-8 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="00ms">
					<div class="footer-widget footer-widget--about">
						<div class="footer-widget__logo logo-retina">
							<a href="index.html">
								<img src="assets/images/logo-light.png" alt="logo" width="64" height="64">
							</a>
						</div><!-- /.footer-widget__logo -->
						<p class="footer-widget__text">জৈনপুর জামে মসজিদ ইসলামিক সেন্টার একটি প্রাণবন্ত ও আন্তরিক কমিউনিটি কেন্দ্র, যা মুসলিমদের আত্মিক উন্নতি, সমাজে সম্পৃক্ততা এবং সাংস্কৃতিক সমৃদ্ধির জন্য একটি কেন্দ্রবিন্দু হিসেবে কাজ করে।</p>
						<div class="social-links">
							@@include('components/__social-links.html')
						</div><!-- /.social-links -->
					</div><!-- /.footer-widget -->
				</div><!-- /.col-xl-4 -->
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
					<div class="footer-widget footer-widget--links">
						<h2 class="footer-widget__title">মেনু</h2><!-- /.footer-widget__title -->
						<ul class="list-unstyled footer-widget__links">
							<li><a href="#">আমাদের সম্পর্কে</a></li>
							<li><a href="#">প্রকল্পসমূহ</a></li>
							<li><a href="#">গ্যালারি</a></li>
							<li><a href="#">ব্লগ</a></li>
							<li><a href="#">যোগাযোগ</a></li>
						</ul><!-- /.list-unstyled footer-widget__links -->
					</div><!-- /.footer-widget -->
				</div><!-- /.col-xl-2 -->
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
					<div class="footer-widget footer-widget--links">
						<h2 class="footer-widget__title">উপযোগী লিঙ্কসমূহ</h2><!-- /.footer-widget__title -->
						<ul class="list-unstyled footer-widget__links">
							<li><a href="#">মক্তব সম্পর্কে</a></li>
							<li><a href="#">জরুরি দান</a></li>
							<li><a href="#">আমাদের সেবা</a></li>
						</ul><!-- /.list-unstyled footer-widget__links -->
					</div><!-- /.footer-widget -->
				</div><!-- /.col-xl-2 -->
				<div class="col-xl-4 col-lg-6 col-md-8 wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
					<div class="footer-widget footer-widget--newsletter">
						<h2 class="footer-widget__title">সাবস্ক্রাইব করুন</h2><!-- /.footer-widget__title -->
						<p class="footer-widget__newsletter-text">নতুন কিছু আসলে আপনাকে জানানো হবে।</p>
						<form action="#" class="footer-widget__newsletter">
							<input type="email" name="newsletter" id="newsletter" placeholder="ইমেইল ঠিকানা দিন">
							<button type="submit" class="mosque-btn">সাবস্ক্রাইব করুন</button>
						</form>
					</div><!-- /.footer-widget -->
				</div><!-- /.col-xl-4 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.main-footer__top -->
	<div class="main-footer__bottom">
		<div class="container">
			<p class="main-footer__copyright">
				স্বত্ব &copy; <span class="dynamic-year"></span> জৈনপুর জামে মসজিদ - সর্ব স্বত্ব সংরক্ষিত।
			</p>
		</div><!-- /.container -->
	</div><!-- /.main-footer__bottom -->
</footer><!-- /.main-footer section-space-top -->