<section class="members section-space">
	 <div class="members__bg" style="background-image: url(assets/images/shapes/members-bg.jpg);"></div>
    <div class="container">
        <div class="members__top">
            <div class="row gutter-y-40 align-items-end">
                <div class="col-xl-9 col-lg-8">
                    @@include("components/__section-title.html", {
                    "extraClassName": "",
                    "tagline": "মসজিদ কমিটি",
                    "title": "মসজিদ পরিচালক কমিটি",
                    })
                </div><!-- /.col-xl-9 -->
                <div class="col-xl-3 col-lg-4">
                    <div class="members__custom-navs"></div>
                </div><!-- /.col-xl-3 -->
            </div><!-- /.row gutter-y-40 -->
        </div><!-- /.members__top -->
        <div class="members__carousel mosque-owl__carousel mosque-owl__carousel--basic-nav owl-carousel owl-theme"
            data-owl-options='{
            "items": 1,
            "margin": 10,
            "loop": true,
            "smartSpeed": 700,
            "nav": true,
            "dots": false,
            "navContainer": ".members__custom-navs",
            "navText": ["<i class=\"icon-arrow-left\"></i>","<i class=\"icon-arrow-right\"></i>"],
            "autoplay": true,
            "responsive": {
                "0": {
                    "items": 1,
                    "margin": 10
                },
                "768": {
                    "items": 2,
                    "margin": 30
                },
                "992": {
                    "items": 3,
                    "margin": 30
                }
            }
        }'>
			<div class="item">
				@@include('components/__member-card.html', {
				"image": "assets/images/members/member-1.jpg",
				"name": "সারোয়ার হোসেন",
				"designation": "ইমাম",
				"extraClassName": "wow fadeInUp",
				"extraAttr": "data-wow-duration='1500ms' data-wow-delay='00ms'"
				})
			</div><!-- /.item -->
			<div class="item">
				@@include('components/__member-card.html', {
				"image": "assets/images/members/member-2.jpg",
				"name": "পারভেজ সরকার",
				"designation": "মুয়াজ্জিন",
				"extraClassName": "wow fadeInUp",
				"extraAttr": "data-wow-duration='1500ms' data-wow-delay='100ms'"
				})
			</div><!-- /.item -->
			<div class="item">
				@@include('components/__member-card.html', {
				"image": "assets/images/members/member-3.jpg",
				"name": "মেহেদী হাসান",
				"designation": "সভাপতি",
				"extraClassName": "wow fadeInUp",
				"extraAttr": "data-wow-duration='1500ms' data-wow-delay='200ms'"
				})
			</div><!-- /.item -->
			<div class="item">
				@@include('components/__member-card.html', {
				"image": "assets/images/members/member-4.jpg",
				"name": "রাসেল মিয়া",
				"designation": "সহ-সভাপতি",
				"extraClassName": "wow fadeInUp",
				"extraAttr": "data-wow-duration='1500ms' data-wow-delay='00ms'"
				})
			</div><!-- /.item -->
			<div class="item">
				@@include('components/__member-card.html', {
				"image": "assets/images/members/member-5.jpg",
				"name": "লোকমান হেকিম",
				"designation": "ক্যাশিয়ার",
				"extraClassName": "wow fadeInUp",
				"extraAttr": "data-wow-duration='1500ms' data-wow-delay='100ms'"
				})
			</div><!-- /.item -->
			<div class="item">
				@@include('components/__member-card.html', {
				"image": "assets/images/members/member-6.jpg",
				"name": "ইনছান মিয়া",
				"designation": "সেক্রেটারি ",
				"extraClassName": "wow fadeInUp",
				"extraAttr": "data-wow-duration='1500ms' data-wow-delay='200ms'"
				})
			</div><!-- /.item -->
		</div><!-- /.members__carousel -->
    </div><!-- /.container -->
</section><!-- /.members -->