<div class="member-card @@extraClassName" @@extraAttr>
	<div class="member-card__image">
        <div class="member-card__image__inner">
            <img src="@@image" alt="@@name">
        </div><!-- /.member-card__image__inner -->
        <div class="social-links">
            @@include('components/__social-links.html')
        </div><!-- /.social-links -->
	</div><!-- /.member-card__image -->
    <div class="member-card__info">
        <div class="member-card__identity">
            <h3 class="member-card__name">@@name</h3>
            <p class="member-card__designation">@@designation</p>
        </div><!-- /.member-card__identity -->
        <button class="member-card__btn"></button>
    </div><!-- /.member-card__info -->
</div><!-- /.member-card -->