<div class="mobile-menu-overlay"></div><!-- /.mobile-menu-overlay -->
<div class="mobile-menu">
    <div class="mobile-menu__wrapper">
        <span class="mobile-menu__close">
            <i class="icon-close"></i>
        </span><!-- /.mobile-menu__close -->
        <div class="mobile-menu__logo logo-retina">
            <a href="index.html"><img src="assets/images/logo/logo.png" alt="logo" width="80"></a>
        </div><!-- /.mobile-menu__logo -->
        <ul class="mobile-menu__main">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul><!-- /.mobile-menu__main -->
        <div class="mobile-menu__info">
            <div class="mobile-menu__contact">
                <h3 class="mobile-menu__title">Contact Me</h3><!-- /.mobile-menu__title -->
                <ul class="mobile-menu__contact__list list-unstyled">
                    <li>
                        <span class="mobile-menu__contact__icon"><i class="fas fa-phone-alt"></i></span>
                        <a href="tel:+8801817656480">+880 1817656480</a>
                    </li>
                    <li>
                        <span class="mobile-menu__contact__icon"><i class="fas fa-envelope"></i></span>
                        <a href="mailto:mosque@gmail.com">mosque@gmail.com</a>
                    </li>
                </ul><!-- /.mobile-menu__contact__list -->
            </div><!-- /.mobile-menu__contact -->
            <div class="mobile-menu__follow">
                <h3 class="mobile-menu__title">Follow Me</h3><!-- /.mobile-menu__title -->
                <div class="social-links">
                    @@include("components/__social-links.html")
                </div><!-- /.social-links -->
            </div><!-- /.mobile-menu__follow -->
        </div><!-- /.mobile-menu__info -->
    </div><!-- /.mobile-menu__wrapper -->
</div><!-- /.mobile-menu -->