<header class="main-header sticky-header sticky-header--normal">
    <div class="container">
        <div class="main-header__inner">
            <div class="main-header__logo logo-retina">
                <a href="index.html" class="main-header__logo__link">&lt;/smai&gt;</a>
            </div><!-- /.main-header__logo -->
            <nav class="main-header__nav">
                <ul class="main-header__nav__list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul><!-- /.main-header__nav__list -->
            </nav><!-- /.main-header__nav -->
            <div class="main-header__nav-btn mobile-menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </div><!-- /.main-header__nav-btn -->
            <i class="fas fa-yin-yang"></i>
        </div><!-- /.main-header__inner -->
    </div><!-- /.container -->
</header><!-- /.main-header -->
