<section class="ongoing-project section-space">
    <div class="container">
        @@include("components/__section-title.html", {
        "extraClassName": "section-title--center",
        "tagline": "চলমান কাজ",
        "title": "চলমান উন্নয়নমূলক কাজ",
        })
        <div class="row gutter-y-30">
            <div class="col-xl-6 col-md-6">
                <div class="ongoing-project__card">
                    <a href="#" class="ongoing-project__card__image">
                        <img src="assets/images/ongoing-project/ongoing-project-1.jpg" alt="ongoing-project">
                    </a><!-- /.ongoing-project__card__image -->
                    <div class="ongoing-project__card__content">
                        <h3 class="ongoing-project__card__title"><a href="#">মসজিদের দোতলার কাজ</a></h3><!-- /.ongoing-project__card__title -->
                        <p class="ongoing-project__card__text">আমাদের নিয়মিত সালাত কক্ষের ছাদ, কিছু ঘরোয়া খাতে বা মসজিদে দান দ্বারা করা হয়েছে। যা এখন অনেক বিস্তৃত এবং মানুষ প্রাত্যহিকভাবে আস-সালাত আদায়ের উদ্দেশ্যে একত্রিত হয়ে থাকে।</p><!-- /.ongoing-project__card__text -->
                        <a href="#" class="mosque-btn">বিস্তারিত দেখুন</a><!-- /.mosque-btn -->
                    </div><!-- /.ongoing-project__card__content -->
                </div><!-- /.ongoing-project__card -->
            </div><!-- /.col-xl-4 col-md-6 -->
            <div class="col-xl-6 col-md-6">
                <div class="ongoing-project__card">
                    <a href="#" class="ongoing-project__card__image">
                        <img src="assets/images/ongoing-project/ongoing-project-2.jpg" alt="ongoing-project">
                    </a><!-- /.ongoing-project__card__image -->
                    <div class="ongoing-project__card__content">
                        <h3 class="ongoing-project__card__title"><a href="#">আরবি শিক্ষা প্রকল্প</a></h3><!-- /.ongoing-project__card__title -->
                        <p class="ongoing-project__card__text">আমাদের নিয়মিত সালাত কক্ষের ছাদ, কিছু ঘরোয়া খাতে বা মসজিদে দান দ্বারা করা হয়েছে। যা এখন অনেক বিস্তৃত এবং মানুষ প্রাত্যহিকভাবে আস-সালাত আদায়ের উদ্দেশ্যে একত্রিত হয়ে থাকে।</p><!-- /.ongoing-project__card__text -->
                        <a href="#" class="mosque-btn">বিস্তারিত দেখুন</a><!-- /.mosque-btn -->
                    </div><!-- /.ongoing-project__card__content -->
                </div><!-- /.ongoing-project__card -->
            </div><!-- /.col-xl-4 col-md-6 -->
        </div><!-- /.row -->
        <div class="ongoing-project__button">
            <a href="#" class="mosque-btn">আরও চলমান কাজ</a>
        </div><!-- /.ongoing-project__button -->
    </div><!-- /.container -->
</section><!-- /.ongoing-project -->