<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/background/page-header-bg.jpg);"></div>
    <div class="container">
        <div class="page-header__content">
            <h2 class="page-header__title">@@title</h2>
            <ul class="mosque-breadcrumb list-unstyled">
                <li><a href="index.html">হোম</a></li>
                <li><span>@@pageName1</span></li>
                <li><span>@@pageName2</span></li>
            </ul><!-- /.qerra-breadcrumb -->
        </div><!-- /.page-header__content -->
    </div><!-- /.container -->
</section><!-- /.page-header -->