<ul class="post-pagination wow fadeInUp" data-wow-duration="1500ms">
    <li>
        <a href="#">
            <span class="post-pagination__icon">
                <i class="icon-left-arrow"></i>
            </span>
        </a>
    </li>
    <li>
        <a href="#">01</a>
    </li>
    <li>
        <a href="#">02</a>
    </li>
    <li>
        <a href="#">03</a>
    </li>
    <li>
        <a href="#">04</a>
    </li>
    <li>
        <a href="#">05</a>
    </li>
    <li>
        <a href="#"><i class="icon-ellipsis"></i></a>
    </li>
    <li class="active">
        <a href="#">
            <span class="post-pagination__icon post-pagination__icon--right">
                <i class="icon-right-arrow"></i>
            </span>
        </a>
    </li>
</ul><!-- /.post-pagination -->