<!-- vendors js -->
<script src="assets/vendors/jquery/jquery-3.7.1.min.js"></script>
<script src="assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="assets/vendors/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendors/jarallax/js/jarallax.min.js"></script>
<script src="assets/vendors/jquery-magnific-popup/js/jquery.magnific-popup.min.js"></script>
<script src="assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
<script src="assets/vendors/aos/js/aos.js"></script>
<script src="assets/vendors/isotope/isotope.js"></script>
<script src="assets/vendors/circleType/circletype.min.js"></script>

<!-- template js -->
<script src="assets/js/main.js"></script>