<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@@title || জৈনপুর জামে মসজিদ</title>
    <!-- favicons Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/favicons/site.webmanifest">
    <meta name="description" content="জৈনপুর জামে মসজিদ আমাদের এলাকার ঐতিহাসিক ও আধ্যাত্মিক কেন্দ্র। এটি নামাজ, ধর্মীয় শিক্ষা ও সামাজিক সেবার মাধ্যমে সম্প্রদায়ের ঐক্য ও কল্যাণে নিবেদিত একটি সৎ, অলাভজনক প্রতিষ্ঠান।" />
    @@include("components/__styles.html")
</head>

<body>

    <div class="custom-cursor__cursor"></div>
    <div class="custom-cursor__cursor-two"></div>

    <div class="preloader">
        <div class="preloader__circle"></div>
        <h2 class="preloader__text">Loading...</h2>
        <div class="preloader__line"></div>
    </div><!-- /.preloader -->

    <div class="page-wrapper">