<div class="topbar">
    <div class="container">
        <div class="topbar__inner">
            <ul class="topbar__contact list-unstyled">
                <li>
                    <span class="topbar__contact__icon"><i class="icon-telephone"></i></span>
                    <div><a href="tel:+8801518457245">+8801518457245</a></div>
                </li>
                <li>
                    <span class="topbar__contact__icon"><i class="icon-envelope"></i></span>
                    <div><a href="mailto:mdparvezsarkarlevel1@gmail.com">mdparvezsarkarlevel1@gmail.com</a></div>
                </li>
            </ul><!-- /.topbar__contact -->
            <div class="topbar__info">
                <div class="topbar__social">
                    <p class="topbar__social__title">আমাদের অনুসরণ করুন!</p>
                    <div class="topbar__social__box">
                        @@include("components/__social-links.html")
                    </div><!-- /.topbar__social__box -->
                </div><!-- /.topbar__social -->
            </div><!-- /.topbar__info -->
        </div><!-- /.topbar__inner -->
    </div><!-- /.container -->
</div><!-- /.topbar -->